*{
    margin: 0;
    padding: 0;
}
input,textarea{
    outline: none
}
input{
    border: none;
    font-size: 12px;
    line-height: 1.4;

}
textarea.maintextarea{
 border: none;
    font-size: 12px;
    line-height: 1.4;
    resize: none;
    overflow:hidden;
    width:100%;
 }

label {
  vertical-align: middle;
}
input {
  vertical-align: middle;
}
input[type="text"]{
  width: 100%
}
input[type="checkbox"],input[type="radio"]{
  margin-right: 3px;
}
html,body{
    background-color: #fff;
}
body{
    font-size: 12px;
    line-height: 1.4;
}
.page{
    margin: 0 auto;
    width: 100%;
    padding: 0px;
    background-color: #fff;
}
.ov{
    overflow: hidden;
}
/*.left{
    float: left;
}*/
.right{
    float: right;
}
.tc{
    text-align: center
}
.title{
    line-height: 1.2;
    font-size: 14px;
    text-align: center;
    padding: 0px;
}
.tasktitle{
    line-height: 1.2;
    font-size: 20px;
    text-align: center;
    padding: 0px;
}
.text{
    text-indent: 2em;
    line-height: 2.2;
}
.bh{
    padding-bottom: 8px;
}
.footer{
    padding-top: 10px;
}
table.tftable {color:#333333;width:100%;border-width: 1px;border-color: #333;border-collapse: collapse;}
table.tftable th {background-color:#fff;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
table.tftable tr {background-color:#fff;}
table.tftable td {border-width: 1px;padding:0 2px;border-style: solid;border-color: #333;text-align:center;  line-height: 1.4;font-size: 12px;  font-family:Arial;}
#jiouhcnw89293{
  line-height: 1.4;
  resize: none;
  border: none;
  font-size: 12px;
   font-family:Arial;
}
.jiouhcnw89293{
  line-height: 1.4;
  resize: none;
  border: none;
  font-size: 10px;
  width:100%
   font-family:Arial;
}

table.tftable td.signtd{
  padding: 0;
}
.sign{
  height: 100%;
}
.sign>div{
  float: left;
  width: 33.333%;
  height: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
}
.sign>div p{
  height: 35px;
}
.sign>div span{
  display: block;
  text-align: right;
  padding-bottom: 5px;
}
.seal-box{
    position: relative;
}
.seal{
    width: 130px;
    height: 130px;
    position: absolute;
    top: 0px;
    right: 10px;
    opacity: 0.8;
}
.sealAdvice{
    width: 140px;
    height: 140px;
    position: absolute;
    top: -50px;
    right: 10px;
    opacity: 0.8;
}
.sealRefuse{
    width: 130px;
    height: 130px;
    position: absolute;
    top: 30px;
    right: 60px;
    opacity: 0.8;
}
.sealFlow{
    width: 130px;
    height: 130px;
    position: absolute;
    top: 30px;
    right: 60px;
    opacity: 0.8;
}
.sealNo{
    width: 140px;
    height: 140px;
    position: absolute;
    top: 60px;
    right: 60px;
    opacity: 0.8;
}
.taskList{
   width: 150px;
    position: absolute;
    top: 80px;
    left: 120px;
    opacity: 0.9;
}
.taskFrame{
  border: 1px solid #000;
    border-top:none;
}
.sign_show{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #000;
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#sign_bg{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 10;
  display: none;
}
#sign_ban{
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  height: 400px;
  background-color: #fff;
  z-index: 100;
  display: none;
}
#sign_ban .title{
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  border-bottom: 1px solid #CCC;
}
#sign_ban .sign_btn{
  padding-right: 20px;
  height: 54px;
}
#sign_ban .sign_btn div{
  float: right;
  height: 44px;
  font-size: 16px;
  color: #fff;
  line-height: 44px;
  width: 100px;
  border-radius: 3px;
  background-color: cornflowerblue;
  text-align: center;
  cursor: pointer;
  position: relative;
}
#sign_ban .sign_btn div:active{
  top: 4px;
}
#cover{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
    background:rgba(0, 0, 0, 0.4);
     width:100%;
    filter:alpha(opacity=60);
    opacity:0.6;
    display:none;
    z-Index:999;
}
#modal{
    position:absolute;
    width:400px;
    height:400px;
    top:200px;
    left:110px;
    background-color:#fff;
    display:none;
    cursor:pointer;
    z-Index:9999;
}
.dictContent{
    width:350px;
    margin:0 auto;


}
.select{
  width:200px;

}
.tableTask {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    font-size:16px;
}

.tableTask  td, .tableTask  th {
    border: 1px solid #cad9ea;
    color: #666;
    height: 40px;
    width: 350px;
}

.tableTask  thead th {
    background-color: #CCE8EB;
    width: 350px;
}

.tableTask  tr:nth-child(odd) {
    background: #fff;
}

.tableTask  tr:nth-child(even) {
    background: #F5FAFA;
}
.regular-radio {
	display: none;

}

.regular-radio+label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
		rgba(0, 0, 0, 0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
	line-height: 34px;
		float: right;
}

.regular-radio:checked+label:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: rgba(24, 144, 255, 1);
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}

.regular-radio:checked+label {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
		rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1),
		inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.regular-radio+label:active,.regular-radio:checked+label:active {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px
		rgba(0, 0, 0, 0.1);
}
.leftContent {
	width:16%;
	height: 400px;
	border: 1px solid #ccc;
	border-top: none;
	border-right: none;
	float: left;
	-ms-box-sizing: border-box;
	-ms-mos-sizing: border-box;
	-ms-webkit-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
	overflow: auto;
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style:none;

}

.leftContent::-webkit-scrollbar {
	display: none;
}
.form-control {
/*display: block;*/

height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555555;
vertical-align: middle;
background-color: #ffffff;
border: 1px solid #cccccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
border-color: #66afe9;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
